/* cho padding nhiều bcause thêm thanh cuộn */
html {
    height: 100%;
    padding-bottom: 280px;
    /* sử dụng thuộc tính display flex để cho căn giữa con
    sử dụng tt align-items để căn chiều cao ,justify-items để căn ngang */
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    /* sử dụng thuộc tính background norepet để hình ảnh k bị lặp lại
    và back..cover để ảnh có thể co theo kích thước của màn hình */
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    text-align: center;
}

.content {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 600px;
    width: 640px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(#FF9482, #7D77FF);

}

.container img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* border-style:solid ;
    border-color: #ffffff;
    border-width: 5px; */
    padding: 5px;
    margin: 48px;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;
    /* thuộc tính chuyển đổi làm cho div biến động nhẹ */
    transition: 0.5s;
}

.container img:hover {
    /* opacity: 0.5; */
    /* thuộc tính trainsform biến đổi theo tỉ lệ  */
    transform: scale(0.9);
}

.icons {
    display: grid;
    margin: 60px;
    position: absolute;
    cursor: pointer;
}

.icons i {
    font-size: 23px;
    padding: 12px;
    margin: 10px;
    border-radius: 50%;
    /* color: white; 
    background:linear-gradient(#7D77FF,#FF9482) */
    color: #7D77FF;
    background-color: white;
    transition: 0.5s;
}

.icons i:hover {
    transform: scale(0.8);
    opacity: 0.5;
}

.word-1 {
    color: white;
}

.word-2 {
    color: white;
    margin-top: 10px;
}

.word-3 {
    color: white;
}

.button {
    margin-top: 30px;
}

.button button {
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.5s;

}

.button button:hover {
    opacity: 0.5;
    transform: scale(0.9);
}

.button1 {
    margin-right: 20px;
}

.button2 {
    margin-left: 20px;
}



/* My QR */

.My-QR {
    color: white;
    margin-top: 110px;
}

/* .My-QR i:hover{
    opacity: 0.5;
    transform: scale(0.9);
} */
/* .My-QR i:hover{
    display: none;
} */

.My-QR i:hover {
    opacity: 0.5;
    transform: scale(0.9);
    cursor: pointer;
    background-image: url("/img/id.jpg");
    background-size: 170px;
    padding: 100px;
    background-repeat: no-repeat;
    background-position: center bottom;

}
